cdp_agent/src/seeds/*
cdp_agent/src/data/*
*.env
*/seeds/
cdp_agent/src/*/__pycache__/*
*/.pytest_cache/*
*/.vscode/*
*/.mypy_cache/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.coverage
*/.DS_Store
*/.mypy_cache/*
*/.pytest_cache/*
*/.vscode/*
*.DS_Store